<?xml version="1.0"?>
<model>
  <name>estacionamento_004</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Nabila</name>
    <email>depaulanabila@gmail.com</email>
  </author>
  <description>Car in parking lot model from mesh point cloud</description>
</model>
